<%- include('../partials/header') %>

<% recipes.forEach(function(recipe) { %>
    <div>
        <%= recipe.name %>  
        <a href="/recipes/<%= recipe._id %>">Details</a>
        Created by: <%= recipe.userName %>
    </div>
    
<% }) %>

<%- include('../partials/footer') %>