<%- include('../partials/header') %>

<% if(!recipes.length) { %>
    <div>No recipes yet.</div>
<% } %>

<% if(recipes.length) { %>
    <% recipes.forEach(function(recipe) { %>
        <div class="text-center" >
            <%= recipe.name %>
            <img src="<%= recipe.image %>" alt="Image of recipe" class="index-img">
            <a href="/recipes/<%= recipe._id %>" class="details"> Details</a>
        </div>
    <% }); %>
<% } %>

<%- include('../partials/footer') %>