<%- include('../partials/header') %>


<% if(user && recipe.user.equals(user._id)) { %>
    <form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button class="button" type="submit">Delete Recipe</button>
    </form>
<% } %>
<div>
    Creator: &nbsp
    <%= recipe.userName %>
</div>
<% if(recipe.image) { %>
    <br>
    <img src="<%= recipe.image %>" alt="recipe image">
<% } %>
<br>
<h3>Ingredients</h3>
<% recipe.ingredients.forEach(function(ingredient, i) { %>
    <div><%= i + 1 %>) <%= ingredient %></div>
<% }); %>
<br>
<h3>Instructions</h3>
<% recipe.instructions.forEach(function(instruction, i) { %>
    <div><%= i + 1 %>) <%= instruction %></div>
<% }); %>
<br>

<% if(recipe.comments.length) { %>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <% recipe.comments.forEach(function(comment) { %>
                <tr>
                    <td><%= comment.userName %></td>
                    <td><%= comment.comment %></td>
                    <% if (user && comment.user.equals(user._id)) { %>
                        <td><a href="/recipes/<%= comment._id %>/comments" class="details">Edit</a></td>
                        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <td><button type="submit" class="button">Delete</button></td>
                        </form>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>

<form action="/recipes/<%= recipe._id %>/comments" method="POST">
    <input type="text" name="comment">
    <button type="submit" class="button">Add Comment</button>
</form>

<%- include('../partials/footer') %>