<%- include('../partials/header') %>

<div><%= recipe.name %></div>
<br>
<div>Creator</div>
<div><%= recipe.userName %></div>
<% if(recipe.image) { %>
    <br>
    <img src="<%= recipe.image %>" alt="recipe image">
<% } %>
<br>
<div>Ingredients</div>
<% recipe.ingredients.forEach(function(ingredient, i) { %>
    <div><%= i + 1 %>) <%= ingredient %></div>
<% }); %>
<br>
<div>Instructions</div>
<% recipe.instructions.forEach(function(instruction, i) { %>
    <div><%= i + 1 %>) <%= instruction %></div>
<% }); %>
<br>

<% if(recipe.comments.length) { %>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <% recipe.comments.forEach(function(comment) { %>
                <tr>
                    <td><%= comment.userName %></td>
                    <td><%= comment.comment %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>

<form action="/recipes/<%= recipe._id %>/comments" method="POST">
    <input type="text" name="comment">
    <button type="submit">Add Comment</button>
</form>

<%- include('../partials/footer') %>