<%- include('../partials/header') %>

<div><%= recipe.name %></div>
<br>
<div>Ingredients</div>
<div><%= recipe.ingredients%></div>
<br>
<div>Instructions</div>
<div><%= recipe.instructions%></div>

<%- include('../partials/footer') %>